body{
	 background-color: white;
	 background-image: url(fondo.png);
}
h1,h2{
	text-align:center;
	font-family: courier;
	font-size: 250%
}

p,ol{
	font-family:courier;
	text-align: left;
	font-size: 150%
}

table{
	font-size: 150%
}

figcaption{
	text-align:left;
}
